/* RecentTransactions.module.css */
.recentTransactions {
    /* your styles here */
    padding: 20px;
    border: 1px solid #00d2d3; /* Turquoise border */
    margin-top: 20px;
    border-radius: 8px;
  }
  
  /* Add more styles as needed */
  